<div class="agentArea">
    <h2>Agents</h2>
    <table mat-table [dataSource]="agents" class="mat-elevation-z8 agentTable">
        <!-- Position Column -->
        <ng-container matColumnDef="agent.name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> <span class="standartCell">{{element.Name}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="agent.description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> <span class="standartCell">{{element.Description}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="agent.endpoint">
            <th mat-header-cell *matHeaderCellDef> Endpoint </th>
            <td mat-cell *matCellDef="let element"> <span class="standartCell">{{element.Endpoint.Host}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="agent.os">
            <th mat-header-cell *matHeaderCellDef> OS </th>
            <td mat-cell *matCellDef="let element"> <span class="standartCell">{{element.agentosToString()}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="agent.items">
            <th mat-header-cell *matHeaderCellDef> Items </th>
            <td mat-cell *matCellDef="let element"> <span class="standartCell">{{element.getAllItems().length}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="agent.triggers">
            <th mat-header-cell *matHeaderCellDef> Triggers </th>
            <td mat-cell *matCellDef="let element">
                <span class="standartCell" title="Triggers total (OK / Problematic)">
                    <span style="color: #3f51b5; font-weight: bold;">{{element.getAllTriggers().length}}</span> (<span style="color: green;">{{element.unproblematicTriggers()}}</span> / <span style="color: red;">{{element.problematicTriggers()}}</span>)
                </span></td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element" class="nobr">
                <mat-icon aria-hidden="false" aria-label="Edit Agent" class="clickabbleIcon">edit</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Delete Agent" class="clickabbleIcon">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="agentsDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: agentsDisplayColumns;"></tr>
    </table>
</div>