<div class="editTemplateArea">
    <h1 mat-dialog-title>Edit Template</h1>
    <ng-container [formGroup]="this.formGroup">
        <mat-form-field appearance="fill" class="bigInput">
            <mat-label>Name</mat-label>
            <input matInput required formControlName="templateName">
        </mat-form-field><br>
        <mat-form-field appearance="fill" class="bigInput">
            <mat-label>Description</mat-label>
            <input matInput formControlName="templateDescription">
        </mat-form-field><br>
    </ng-container>
    <mat-divider></mat-divider>
    <div style="margin-top: 10px;">
        <mat-radio-group aria-label="OS">
            <mat-radio-button value="2" checked (click)="this.linkedItemsTable.filterByOS(2)">All</mat-radio-button>
            <mat-radio-button value="1" class="spaceRadioButtons" (click)="this.linkedItemsTable.filterByOS(1)">Linux</mat-radio-button>
            <mat-radio-button value="0" class="spaceRadioButtons" (click)="this.linkedItemsTable.filterByOS(0)">Windows</mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-raised-button color="primary" style="margin-top: 10px;" (click)="linkItem()">Link</button>
    <app-item-table></app-item-table>
</div>