<div class="problemsArea">
    <h2>Problems</h2>
    <table mat-table [dataSource]="problemsDataSource" class="mat-elevation-z8 problemsTable">
        <!-- Position Column -->
        <ng-container matColumnDef="agent.name">
            <th mat-header-cell *matHeaderCellDef> Agent </th>
            <td mat-cell *matCellDef="let element"> {{element.Agent.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="trigger.name">
            <th mat-header-cell *matHeaderCellDef> Trigger </th>
            <td mat-cell *matCellDef="let element"> {{element.Assignment.Trigger.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="trigger.description">
            <th mat-header-cell *matHeaderCellDef> Trigger Description </th>
            <td mat-cell *matCellDef="let element"> {{element.Assignment.Trigger.Description}} </td>
        </ng-container>

        <ng-container matColumnDef="trigger.severity">
            <th mat-header-cell *matHeaderCellDef> Severity </th>
            <td mat-cell *matCellDef="let element"> {{this.triggerService.triggerSeverityToString(element.Assignment.Trigger.Severity)}} </td>
        </ng-container>

        <ng-container matColumnDef="trigger.starttime">
            <th mat-header-cell *matHeaderCellDef> Start Time </th>
            <td mat-cell *matCellDef="let element"> {{element.Assignment.History[0].Time | date:'medium'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="problemsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: problemsDisplayedColumns;" [style.background-color]="this.triggerService.triggerSeverityToColor(row.Assignment.Trigger.Severity)"></tr>
    </table>
</div>